node_modules
*.env
*.env.local
*.env.example
*.env.development
*.env.test
*.env.production
*.env.production.local
*.env.test.local
*.md
*.txt
*.dockerignore
*.gitignore
*.dockerfile
*.dockerfile.*
*.bak
*.old
*.log
.git
.github
.next/cache
tests/
test/
