"node_modules/" 
node_modules
"PhishHunt/"
PhishHunt
backend/.env
"backend/.env"
"*.env"
"*env*"
"backend/.env.example"
"backend/.env.local"
"backend/.env.development"
"backend/.env.test"
"backend/.env.production"
"backend/*.env*"
*.env*
# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
.env.example
*.env
